In [4]:
import pandas as pd

In [6]:
total=pd.read_excel('./전체 교통사고 지표 현황.xls')
towWheel=pd.read_excel('./이륜차 교통사고 지표 현황.xls')

In [7]:
total

     연도       발생건수   대형사고     사망자수  치사율(%)
0   NaN        NaN    NaN      NaN     NaN
1  2015   232035.0   75.0   4621.0    1.99
2  2016   220917.0   64.0   4292.0    1.94
3  2017   216335.0   55.0   4185.0    1.93
4  2018   217148.0   48.0   3781.0    1.74
5  2019   229600.0   57.0   3349.0    1.46
6  2020   209654.0   30.0   3081.0    1.47
7  2021   203130.0   27.0   2916.0    1.44
8    합계  1513134.0  356.0  26225.0     NaN