In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
total=pd.read_csv('../data/전체 교통사고 지표 현황.csv')
twoWheel=pd.read_csv('../data/이륜차 교통사고 지표 현황.csv')

     연도       발생건수  대형사고    사망자수  치사율(%)
0  2015    232,035    75   4,621    1.99
1  2016    220,917    64   4,292    1.94
2  2017    216,335    55   4,185    1.93
3  2018    217,148    48   3,781    1.74
4  2019    229,600    57   3,349    1.46
5  2020    209,654    30   3,081    1.47
6  2021    203,130    27   2,916    1.44
7    합계  1,513,134   356  26,225   11.97